.bg-prim{
    background-color:#b22222;
}
.bg-prim-subtle{
    background-color:#450d13;
}
.fs-14px{
    font-size:14px;
}
.fs-11px{
    font-size:11px;
}
.fs-10px{
    font-size:10px;
}
.fixed-header {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 100%;
    background-color:white;
}
.signature{
    font-size: 14px;
    font-style: italic;
}
.space > div{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.articleKeyword{
    font-size: 12px;
    color: #b22222;
    font-weight: bold;
    margin: 0 0 .5rem 0;
}
.articleTitle{
    font-size: 1.5vw;
    color: black;
    font-weight:bold;
}
.articleDeepenings{
    font-size: 12px;
    padding: 1.5rem 0 0 0;
}
.articleDeepenings li{
    display: inline-block;
    margin-right: 1.5rem;
    list-style: none;
}
.articleDeepenings li:before{
    content: "";
    display: inline-block;
    background: #b22222;
    width: 8px;
    height: 8px;
    margin-right: 1rem;
}
#header-top-center{
    min-height:48px;
}
#no-title-section{
    padding-bottom:19.188px
}
#searchBar{
    margin-left: 2rem;
    width:75%;
    padding-right: 2rem;
}
#searchIcon{
    background-color:transparent;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: .25rem 1rem;
    align-content: center;
    border:1px;
    border-style: hidden;
}
#searchInput{
    border:0;
    color:black;
}
#searchButton{
    display:none;
    border:0;
    border-style: hidden;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    color:white;
    font-weight: bold;
    padding: .25rem 1rem;
}
#dropdownMenu1{
    min-width:140px;
}
#underNav{
    padding-top: 1rem;
    padding-bottom: 1rem;
}