/*main content iteraction*/
.stickyAdv{
    position: sticky;
    top: 80px;
    bottom: 0px;
}
/*article's interactions*/
.space > article{
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.space.little > article{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.spaceSeparator{
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.spaceSeparator.little{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.spaceDivs > div{
    padding-top:16px;
    padding-bottom:16px;
}
.spaceDivs.little > div{
    padding-top:10px;
    padding-bottom:10px;
}
.partition{
    margin:16px 0;
}
.partition.little{
    margin:10px 0;
}

/*article types*/
.type-editor{
    background-color: #eaf0f5;
    padding: 16px;
}
.type-podcast{
    background-color: #f7f1f1;
    padding: 16px 8px;
}
.type-myplay{
    background: #f8f7f7;
    padding: 0 16px;
}
.type-myplay #myPlayLogo{
    padding-bottom:8px;
    border-width:0 0 1px 0;
    border-style:solid;
    border-color: black;
}

/*articleHeader*/
.articleHeader{
    position:relative;
    text-align: center;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}
.articleHeader.editor span{
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 20px;
    font-size:1rem;
    flex: 0 0 auto;
    font-weight:bold;
}
.articleHeader::after{
    content: "";
    width: 100%;
    height: 0px;
    border-top: 1px solid;
}
.articleHeader.prim::after{
    color:#b22222;
}
.articleHeader.editor::after{
    content: "";
    width: 100%;
    height: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.startArtHeader{
    flex: 0 0 auto;
    font-weight: bold;
    padding: 0 8px 0 0;
}
.startArtHeader.transparent{
    color:black;
    background-color:transparent;
    border:1px;
    border-style:solid
}
.endArtHeader{
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    padding: 0 0 0 8px;
}

/*midArticleHeader*/
.midArticleHeader{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}
.midArticleHeader::before{
    content: "";
    width: 100%;
    height: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.midArticleHeader span{
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 20px;
    font-size:1rem;
    flex: 0 0 auto;
    font-weight:bold;
}
.midArticleHeader a{
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 20px;
    flex: 0 0 auto;
}
.midArticleHeader::after{
    content: "";
    width: 100%;
    height: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.midArticleHeader.one-line::before{
    height:0;
    border-bottom:0px;
}
.midArticleHeader.one-line::after{
    height:0;
    border-bottom:0px;
}
.midArticleHeader.one-line span{
    padding:0;
}
.midArticleHeader.prim{
    color:#b22222;
}
.midArticleHeader.prim span{
    color:white;
    background-color:#b22222;
}
.midArticleHeader.prim.one-line span{
    color:#b22222;
    background-color:white;
}
.midArticleHeader.black{
    color:black;
}
.midArticleHeader.black span{
    color:white;
    background-color:black;
}
.midArticleHeader.white{
    color:black;
}
.midArticleHeader.white span{
    color:black;
    background-color:white;
    border:1px;
    border-style:solid;
}
.midArticleHeader.yellow{
    color:black;
}
.midArticleHeader.yellow span{
    color:black;
    background-color:yellow;
}
.midArticleHeader.blue{
    color:blue;
}
.midArticleHeader.blue span{
    color:white;
    background-color:blue;
    border:1px;
    border-style:solid;
}

/*article basics*/
.articleKeyword{
    font-size: 0.75rem;
    color: #b22222;
    font-weight: bold;
    margin: 0 0 8px 0;
}
.articleKeyword.yellow span{
    color:black;
    background-color:yellow;
    padding: 3px;
}
.articleKeyword.live::before {
    content: "LIVE";
    background-image: radial-gradient(circle at 12px 9px, #d29c9c 10%, transparent 10%);
    background-color: #b22222;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    display: inline-block;
    margin-right: 8px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 22px;
    padding-right: 8px;
    border-radius: 3px;
}
.articleTitle-s{
    font-size: 1rem;
    font-weight:600;
    line-height:1.3;
}
.articleTitle-m{
    font-size: 1.125rem;
    font-weight:600;
    line-height:1.3;
}
.articleTitle{
    font-size: 1.625rem;
    font-weight:600;
    line-height:1.3;
}
.articleTitle-l{
    font-size: 2rem;
    font-weight:600;
    line-height:1.3;
}
.articleDeepenings{
    font-size: 12px;
    padding: 24px 0 0 0;
}
.articleDeepenings li{
    display: inline-block;
    margin-right: 24px;
    list-style: none;
}
.articleDeepenings li:before{
    content: "";
    display: inline-block;
    background: #b22222;
    width: 8px;
    height: 8px;
    margin-right: 16px;
}
.separator{
    border-width:0 0 1px 0;
    border-style:solid;
    border-color: #e5e5e5;
}
.separatorBlack{
    border-width:0 0 1px 0;
    border-style:solid;
    border-color: black;
}
.author{
    font-size: 0.875rem;
    font-weight:600;
    margin-bottom:6px;
}
.signature{
    font-size: 0.875rem;
    margin-top: 8px;
    font-style: italic;
}

/*Header*/
.sticky-header {
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 100%;
    z-index: 1000;
    background-color:white;
}
#threeLinesNavContent{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 16px;
}
.threeLinesNavSmartContent{
    height: calc(100vh - 64px);
    overflow-y: auto;
}
#header-top{
    min-height:64px;
    padding:8px 0;
}
#header-bottom{
    padding:8px 0;
}
#threeLinesNavContent ul li a{
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0 8px;
    line-height: 2.07;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
#no-title-section{
    padding-bottom:19.188px
}
#searchBar{
    padding-left: 32px;
    width:100%;
    padding-right: 32px;
}
#searchIcon{
    background-color:transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px 16px;
    align-content: center;
    border:1px;
    border-style: hidden;
}
#searchInput{
    border:0;
    color:black;
}
#searchButton{
    display:none;
    border:0;
    border-style: hidden;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color:white;
    font-weight: bold;
    padding: 4px 16px;
}
#logSubButtons button{
    margin:0 3px;
    color:white;
    font-weight:bold;
    font-size:10px;
    padding:8px 24px;
    border: 0;
}
#brand-list{
    padding:0 12px;
    border-bottom:0;
    border-top:0;
    border-right:0;
    border-left:1px;
    border-style: solid;
    border-color: #e5e5e5;
    margin-left: 32px;
}
#header-fixed-title img{
    height:3rem;
}
#dropdownMenu1{
    min-width:140px;
}
.smartButton{
    background-color:transparent;
    border: 0;
    padding:8px;
}
.smartHeaderFixedList{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    align-items: center;
}

/*basic modifiers*/
.bg-prim{
    background-color: #b22222;
}
.bg-prim-subtle{
    background-color:#450d13;
}
.border-prim{
    border-color:#b22222;
}
.txt-prim{
    color: #b22222;
}
.fs-20px{
    font-size:20px;
}
.fs-14px{
    font-size:14px;
}
.fs-11px{
    font-size:11px;
}
.fs-10px{
    font-size:10px;
}